.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.navbar a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}
