<!DOCTYPE html>
<html>
<head>
    <title>About - MedCam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
</nav>

<div class="container">
    <h1>About MedCam</h1>

    <p>
        MedCam Triage is an AI-based skin lesion pre-screening system.
        It compresses uploaded images and classifies them using
        a trained Support Vector Machine model.
    </p>

    <p>
        This project demonstrates image compression,
        feature extraction, and real-time ML prediction
        using Flask backend.
    </p>
</div>

</body>
</html>
